<div class="container-fluid">
    <div class="message-wrapper">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Identifier</th>
                    <th>User</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        const socketIo = io();

        $.ajax({
            url: '/chats',
            method: 'GET',
            success(data) {
                console.log(data)
                $('#table_id').DataTable({
                    paging: true,
                    sort: true,
                    searching: true,
                    data: data,
                    columns: [
                        { 'data': 'contactId' },
                        { 'data': 'contactName' },
                        { 'data': 'messages' },
                        { 'data': 'timestamp' },
                    ]
                })

            }



        })

        socketIo.on("message", (socket) => {
            console.log(socket)
        });



    })
</script>